body {
 margin:0;
 padding: 0;
 box-sizing: border-box;
}
h1 {
 text-align: center;
}

.container {
 padding: 2rem;
}


img {
 display: block;
 max-width: 100%;
 width: 500px
}

.error {
 font-size: 2rem;
 text-align: center;
}