* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  padding: 0.5em 1em;
}
h2 {
  text-align: center;
}
.btns-container {
  max-width: 1000px;
  width: 90%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn__sort {
  min-width: 7rem;
  border: none;
  margin: 10px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0.5em;
  background-color: rgb(253, 204, 67);
  cursor: pointer;
  transition: 0.3s;
}
.btn__sort:hover,
.active {
  color: rgb(253, 204, 67);
  background-color: black;
}
.section__title {
  text-transform: capitalize;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
.article {
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
  max-width: 350px;
  margin-bottom: 2rem;
  padding: 1rem;
  min-height: 600px;
  box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.3);
  transition: 1s all;
}
.article * + * {
  margin-top: 1rem;
}
.article__title {
  text-align: left;
  flex-basis: 5em;
  font-size: 1.5rem;
}
.article__title:hover {
  opacity: 0.6;
}
.article__wrapper {
  margin-bottom: 1.5rem;
}
.article__date {
  font-size: 0.875rem;
  margin-top: auto;
}
.article__authors {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-style: italic;
  min-height: 4rem;
}
a {
  text-decoration: none;
  color: black;
}
img {
  display: block;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}
.article__description {
  font-size: 1rem;
  line-height: 1.5;
}
.btn_more {
  width: 8rem;
  color: white;
  text-align: center;
  background-color: steelblue;
  margin-top: auto;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  transition: 0.2s;
}
.btn_more:hover {
  transform: scale(1.1);
}
.error {
  font-size: 2rem;
  text-align: center;
}
